header.header
    -if(status!=='error' && status!=='login')
        nav.header-nav
        
            .header-nav__logo
                a.header-nav__logo-body(href='/') RominTech
            ul.header-nav__menu--lists
                li.header-nav__menu--list
                    a.logout-btn(href='#') Logout
