footer
    div(class="footer-menu__lists")
        div(class="footer-menu__list")
            h4(class="footer-menu__aboutus--header") About Us
            p(class="footer-menu__aboutus--body") Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem maxime voluptate ad sapiente distinctio id recusandae voluptatum! Placeat nam eligendi, expedita officiis architecto facere labore nulla sequi praesentium, ut tempora.</p>
        div(class="footer-menu__list")
            h4(class="footer-menu__quicklinks--header") Quick Links
            div(class="footer-menu__quicklinks--body")
            ul(class="footer-menu__quicklinks--lists")
                li(class="footer-menu__quicklinks--list") About Us
                li(class="footer-menu__quicklinks--list") Services
                li(class="footer-menu__quicklinks--list")
                li(class="footer-menu__quicklinks--list") Contact Us
        div(class="footer-menu__list")
            h4(class="footer-menu__followus--header") Follow Us
            div(class="footer-menu__followus--body") 
                ul(class="footer-menu__followus--lists")
                    li(class="footer-menu__followus--list")
                        img(src="/img/facebook.jpg" alt="facebook")
                    li(class="footer-menu__followus--list")
                        img(src="/img/instagram.jpg" alt="instagram")
                    li(class="footer-menu__followus--list")
                        img(src="/img/twitter.jpg" alt="twitter")
                    li(class="footer-menu__followus--list")
                        img(src="/img/linkedin.jpg" alt="linkedin")


    div(class="footer-menu__copyright")
        div(class="footer-menu__container")
            p Copyright &copy;2022 All rights reserved
                
       
            
        
